body {
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}

path {
    stroke: #fff;
    fill-rule: evenodd;
}

path.rio {
    fill: #61bf30 !important;
}

path.medal-gold {
    fill: #C98910 !important;
}

path.medal-silver {
    fill: #A8A8A8 !important;
}

path.medal-bronze {
    fill: #965A38 !important;
}

#tooltip {
    background-color:rgba(255, 255, 255, 0.7);
    font-size: .8em;
    padding: 5px 10px;
}
.caps {
    text-transform: uppercase;
}